@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Inter', 'Aldrich', sans-serif;
}

.container {
    min-height: 500px; /* 確保有足夠的滾動空間 */
    position: relative;
}



#fstCar, #secCar, #thirdCar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.5);
    transition: opacity 1s ease-in-out; /* 添加平滑過渡效果 */
    z-index: 0; /* 將元素放在最底層 */
}

#fstCarInfo {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
 
.pages li video,
.pages li img {
  position: relative;
  top: 0;
  left: 0;
  z-index: -100;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  opacity: 0.85;
}


.pages {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
  position: relative; /* 确保 pages 是相对定位 */
}

  .PageInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
  }

  .PageFooter {
    position: fixed; /* 或者使用 fixed，使其固定在底部 */
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center; /* 可选：页脚内容居中 */
    padding: 50px 0; /* 可选：页脚内边距 */
    z-index: 10; /* 确保在其他元素之上 */
}
  
.pages li {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh; /* 确保每个页面的高度足够 */
  width: 100vw;
  justify-content: space-between; /* 使子元素在垂直方向上分布 */
  padding-top: 150px; /* 适当的顶部填充 */
  padding-bottom: 10px; /* 底部填充 */
  color: #fff;
  scroll-snap-align: start;
}

  
  
  .PageInfo h1 {
    letter-spacing: 1px;
    font-size: 40px;
  }
  
  .PageInfo h1,
  .PageInfo h3 {
    font-weight: 500;
  }
  
  .PageInfo.model-x {
    color: #333;
  }
  
  .PageInfo
  .model-x p {
    font-size: 12px;
  }
  
  .PageFooter .buttons {
    margin-bottom: 25px;
    display: flex;
    gap: 20px;
    justify-content: center;
    z-index: 20;
  }
  
  .PageFooter .buttons button {
    font-size: 15px;
    padding: 7px 80px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 添加过渡效果 */
  }
  
  .PageFooter .buttons .btn2:hover {
  background-color:#757575;
  color: white;
  opacity: 0.7;
}
  
  .PageFooter .buttons button:first-child {
    background-color: rgba(34, 34, 34, 0.8);
    color: #fff;
  }
  
  .PageFooter .buttons button:last-child {
    background-color: rgba(255, 255, 255, 0.75);
  }
  
  .PageFooter .buttons.inverted button:first-child {
    background-color: rgba(255, 255, 255, 0.75);
    color: #333;
  }
  
  .PageFooter .buttons.inverted button:last-child {
    background-color: rgba(34, 34, 34, 0.8);
    color: #fff;
  }
  
  .PageFooter p,
  .PageFooter a {
    font-size: 12px;
    color: #fff;
  }
  
  .PageFooter .buttons {
    background-color: transparent;
    color: #fff;
    border: 0px solid #fff;
  }

#secCar, #thirdCar {
    opacity: 0; /* 初始設置為隱藏 */
}

/* 小於600px寬度的裝置，例如手機 */
@media screen and (max-width: 600px) {
    .logo {
        font-size: 1.5rem; /* 調整字體大小 */
        left: 20px;
        top: 12px;
    }

    #fstCar, #secCar, #thirdCar {
        height: 100vh;
    }
}

/* 中等設備，例如平板（寬度在600px到1024px之間） */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .logo {
        font-size: 2rem; /* 調整字體大小 */
        left: 30px;
        top: 18px;
    }

    #fstCar, #secCar, #thirdCar {
        height: 100vh;
    }
}

/* 大於1024px寬度的設備，例如桌面瀏覽器 */
@media screen and (min-width: 1024px) {
    .logo {
        font-size: 2.5rem;
        left: 40px;
        top: 20px;
    }

    #fstCar, #secCar, #thirdCar {
        height: 100vh;
    }
}

