/* dashboard.css */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');


.wrapper {
    display: flex;
    /* 使用 Flexbox */
    justify-content: space-between;
    /* 左右对齐 */
    align-items: flex-start;
    /* 顶部对齐 */
}

.logo a {
    color: white;
    /* 链接颜色 */
    text-decoration: none;
    /* 去除下划线 */
    font-size: 24px;
    /* 字体大小 */
}

body {
    font-family: 'ABeeZee', sans-serif;
    display: flex;
    flex-direction: column;
    /* 垂直排列 */
    align-items: center;
    /* 水平居中 */
    justify-content: flex-start;
    /* 從頂部開始 */
}

.container {
    max-width: 1200px;
    width: 100%;
    /* 使容器寬度自適應 */
    padding: 50px 20px;
    /* 增加內邊距 */
    margin: 80px auto;
    /* 確保容器在垂直方向上有間距，並水平居中 */
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* 內容居中 */
}

.order {
    margin-bottom: 15px;
    /* 增加每个订单之间的间距 */
    padding: 10px;
    /* 内边距 */
    border: 1px solid #eee;
    /* 分隔线 */
    background-color: #fafafa;
    /* 背景色 */
}

.order:last-child {
    border-bottom: none;
    /* 最后一个订单去除分隔线 */
}

button {
    background-color: #ff5722;
    /* 登出按钮颜色 */
    margin-top: 15px;
    /* 增加按钮的上边距 */
    color: white;
    /* 字体颜色 */
    border: none;
    /* 去除边框 */
    padding: 10px 15px;
    /* 按钮内边距 */
    border-radius: 5px;
    /* 圆角 */
    cursor: pointer;
    /* 鼠标光标样式 */
}

button:hover {
    background-color: #e64a19;
    /* 悬停时按钮颜色 */
}